<div class='row'>
  <div class='small-8 columns'>
    {{try:}}{{=H2(title)}}{{except:}}{{pass}}
  </div>

  <div class='small-4 columns text-right'>
    <div id='list-btn-add' style='margin-top: 12px;'>
      {{try:}}{{=buttons["add_btn"]}}{{except:}}{{pass}}
    </div>
  </div>
</div>

<div id='rheader' class='row'>
  <div class='small-12 columns'>
    {{try:}}{{=XML(rheader)}}{{except:}}{{pass}}
  </div>
</div>

<div id='component' class='row'>
  {{try:}}
</div>

<div class='row'>
  {{pass}}
  <div class='small-12 columns'>

    <div class='row'>
      <div class='small-12 columns'>
        <div id='map' style='height: 280px; border: 1px solid #ddd; border-radius: 6px; margin: 8px 0 16px 0;'></div>
      </div>
    </div>

    <div class='row'>
      {{try:}}{{items = items}}
        <div id='table-container' class='small-12 columns' style='padding: 12px; border: 1px solid #eee; border-radius: 6px;'>
          {{=items}}
        </div>
      {{except:}}{{pass}}
    </div>

  </div>
</div>

{{if s3.rfooter:}}
<div id='rfooter' class='row'>
  <div class='small-12 columns'>
    {{=XML(s3.rfooter)}}
  </div>
</div>
{{pass}}

{{include "dataTables.html"}}
